<div class="app-dialog-backdrop" (click)="onBackdropClick($event)">
  <div
    class="app-dialog-panel"
    [class.app-dialog-panel--maximized]="entry.isMaximized()"
    [class.app-dialog-panel--fill]="entry.dialogRef.fillContent() && !entry.isMaximized()"
    [style.width]="!entry.isMaximized() && !entry.dialogRef.fillContent() && entry.width ? entry.width : null"
  >
    <div class="app-dialog-chrome">
      @if (entry.maximizable) {
        <button
          type="button"
          class="app-dialog-maximize"
          [attr.aria-label]="entry.isMaximized() ? 'Restore dialog size' : 'Maximize dialog'"
          [attr.aria-pressed]="entry.isMaximized()"
          [title]="entry.isMaximized() ? 'Restore' : 'Maximize'"
          (click)="toggleMaximize()"
        >
          @if (entry.isMaximized()) {
            <svg class="app-dialog-maximize-ico" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 3v3a2 2 0 0 1-2 2H3M21 8h-3a2 2 0 0 1-2-2V3M3 16h3a2 2 0 0 1 2 2v3M16 21v-3a2 2 0 0 1 2-2h3"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          } @else {
            <svg class="app-dialog-maximize-ico" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 3H5a2 2 0 0 0-2 2v3M21 8V5a2 2 0 0 0-2-2h-3M3 16v3a2 2 0 0 0 2 2h3M16 21h3a2 2 0 0 0 2-2v-3"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          }
        </button>
      }
      <button type="button" class="app-dialog-close" aria-label="Close dialog" (click)="attemptClose()">×</button>
    </div>

    <ng-container [ngComponentOutlet]="entry.component" [ngComponentOutletInjector]="entry.injector" />
  </div>
</div>
